
<main class="h-100">
  <div class="container h-100 mt-5">
    <div class="row justify-content-sm-center vh-100">
      <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
        <div class="card shadow-lg">
          <div class="card-body">
            <div class="text-center my-1">
              <img [src]="imgURL + 'favicon-32x32.png'" alt="logo" width="30" />
            </div>
            <h1 class="fs-4 card-title fw-bold mb-4">{{ $t('auth.signIn') }}</h1>
            <form (ngSubmit)="onSubmit($event)" method="POST" class="needs-validation login-form" autocomplete="off" novalidate>
              <div class="tooltip-wrapper mb-3">
              </div>

              <div class="mb-3">
                <input id="email" type="email" class="form-control" name="email" [(ngModel)]="email" placeholder="Email" autofocus />
              </div>

              <div class="mb-3">
                <input id="password" type="password" class="form-control" name="password" [(ngModel)]="password" placeholder="Password" />
              </div>

              <div class="d-flex justify-content-center align-items-center">
                <button type="submit" class="btn blue-btn btn-save" style="white-space: nowrap">{{ $t('auth.signIn') }}</button>
              </div>
            </form>
          </div>
          <div class="card-footer py-3 border-0">
            <div class="text-center">
              {{ $t('auth.signUp') }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

  

  