<main class="main py-4 px-3">
  <div
    class="expenses-list"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    [scrollWindow]="false"
    (scrolled)="onScroll()"
  >
    <div *ngFor="let report of expensesReports">

      <!-- Expenses list -->
      <div *ngIf="report.expenses.length > 0" class="mt-3">
        <ul class="list-group">
          <app-expense-item
            *ngFor="let expense of report.expenses"
            [expenses]="report.expenses" 
            [getIconForCategory]="getIconForCategory"
            [showDescription]="true"
            [formattedDate]="report.formattedDate" 
            [dailyTotal]="report.dailyTotal" 

          ></app-expense-item>
        </ul>
      </div>
    </div>
  </div>
</main>
