<!-- all-expenses.component.html -->
<main class="main py-4 px-3">
  <div
    class="expenses-list"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    [scrollWindow]="false"
    (scrolled)="onScroll()"
  >
    <div *ngFor="let report of expensesReports">
      <!-- Render expense item for each date and its expenses -->
      <app-expense-item
        *ngIf="report.expenses.length > 0"
        [formattedDate]="report.formattedDate"
        [dailyTotal]="report.dailyTotal"
        [expenses]="report.expenses"
        [getIconForCategory]="getIconForCategory"
        [showDescription]="true"
        [showButtons]="true"
      ></app-expense-item>
    </div>
  </div>
</main>
