/* donut-chart.component.scss */
.chart-container {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
   
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;  
  }
  
  .date-range {
    margin-bottom: 10px;  
    font-size: 0.8em;  
  }
  
  p-chart {
    width: 100%;  
    max-width: 500px; 
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%; 
    margin-bottom: 10px;
  }
  
  .header-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
  }
  
  .header-right {
    display: flex;
    align-items: center;
  }
  .no-data-message {
    text-align: center;
    font-size: 1.2rem;
    color: #6c757d; /* Muted gray color */
    margin-top: 1rem;
  }
  