/* donut-chart.component.scss */
.chart-container {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
   
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;  
  }
  
  .date-range {
    margin-bottom: 10px;  
    font-size: 0.8em;  
  }
  
  p-chart {
    width: 100%;  // Ensure the chart takes up the full width of its container
    max-width: 500px;  // Optional: limit the maximum width of the chart for better responsiveness
  }
  
  